In [2]:
import deeptendies as dt

In [7]:
df = dt.DataFrame.from_yf('TQQQ')
print(type(df))
print(dt.DataFrame.from_yf_info('TQQQ'))

<class 'pandas.core.frame.DataFrame'>
                                            value
exchange                                      NGM
shortName                  ProShares UltraPro QQQ
longName                   ProShares UltraPro QQQ
exchangeTimezoneName             America/New_York
exchangeTimezoneShortName                     EDT
...                                           ...
cashPosition                                 None
stockPosition                              0.9039
regularMarketPrice                          60.69
preMarketPrice                              61.68
logo_url

[113 rows x 1 columns]

In [10]:
pipeline = dt.Pipeline(
    [
        dt.Feature.get_x_high,
        dt.Feature.get_x_low,
        dt.Feature.get_x_ma,
        dt.Feature.get_diff
    ]
)  # list of functions https://stackoverflow.com/questions/5461571/call-list-of-function-using-list-comprehension
df = pipeline.run(df=df, x=50)
df = pipeline.run(df=df, x=100)
df = pipeline.run(df=df, x=200)
df = pipeline.run(df=df, x=50, interval='week')
df = pipeline.run(df=df, x=100, interval='week')
df = pipeline.run(df=df, x=200, interval='week')
print(df.columns)

Index(['high', 'low', 'open', 'close', 'volume', 'adj_close', '50_day_high',
       '50_day_low', '50_day_ma', 'high_diff', 'low_diff', 'close_diff',
       'volume_diff', '100_day_high', '100_day_low', '100_day_ma',
       '200_day_high', '200_day_low', '200_day_ma', '50_week_high',
       '50_week_low', '50_week_ma', '100_week_high', '100_week_low',
       '100_week_ma', '200_week_high', '200_week_low', '200_week_ma'],
      dtype='object')

In [11]:
df.head()

,high,low,open,close,volume,adj_close,50_day_high,50_day_low,50_day_ma,high_diff,...,200_day_ma,50_week_high,50_week_low,50_week_ma,100_week_high,100_week_low,100_week_ma,200_week_high,200_week_low,200_week_ma
Date,,,,,,,,,,,,,,,,,,,,,
2012-04-02,1.290000,1.236458,1.242813,1.284271,62726400.0,1.281062,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-03,1.301771,1.262396,1.289896,1.284375,83750400.0,1.281165,NaN,NaN,NaN,0.011771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-04,1.257083,1.209896,1.254271,1.231979,102576000.0,1.228901,NaN,NaN,NaN,-0.044688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-05,1.257604,1.222083,1.225208,1.254479,77328000.0,1.251344,NaN,NaN,NaN,0.000521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-09,1.241250,1.201146,1.206771,1.225625,71952000.0,1.222562,NaN,NaN,NaN,-0.016354,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.tail()

,high,low,open,close,volume,adj_close,50_day_high,50_day_low,50_day_ma,high_diff,...,200_day_ma,50_week_high,50_week_low,50_week_ma,100_week_high,100_week_low,100_week_ma,200_week_high,200_week_low,200_week_ma
Date,,,,,,,,,,,,,,,,,,,,,
2022-03-24,57.090000,53.410000,54.430000,57.020000,85575300.0,57.020000,77.964996,39.560001,54.5950,0.820000,...,67.26510,91.68,29.650000,58.356136,91.68,8.0675,40.056193,91.68,4.6575,25.517151
2022-03-25,57.560001,54.849998,57.040001,56.930000,99215900.0,56.930000,77.550003,39.560001,54.2068,0.470001,...,67.27885,91.68,32.587502,58.430650,91.68,8.0675,40.116564,91.68,4.6575,25.554182
2022-03-28,59.610001,56.330002,56.919998,59.520000,91703700.0,59.520000,72.070000,39.560001,53.9812,2.049999,...,67.30340,91.68,32.587502,58.500650,91.68,8.0675,40.179729,91.68,4.6575,25.593020
2022-03-29,62.959999,60.139999,61.520000,62.570000,102006700.0,62.570000,69.720001,39.560001,53.7952,3.349998,...,67.33555,91.68,32.587502,58.571643,91.68,8.0675,40.246993,91.68,4.6575,25.633969
2022-03-30,62.535702,59.799999,61.680000,60.689999,83600534.0,60.689999,68.709999,39.560001,53.6752,-0.424297,...,67.36350,91.68,32.587502,58.636900,91.68,8.0675,40.310964,91.68,4.6575,25.673568